<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/MyLocalDB</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Mapping with model class containing annotations -->
    <mapping class="edu.hm.cs.smc.database.models.Schluesselwoerter"/>
    <mapping class="edu.hm.cs.smc.database.models.BingSeiten"/>
    <mapping class="edu.hm.cs.smc.database.models.ServerConfig"/>
    <mapping class="edu.hm.cs.smc.database.models.FacebookpagesFBID"/>
    <mapping class="edu.hm.cs.smc.channels.bing.BingKomplettsuche"/>
    <mapping class="edu.hm.cs.smc.channels.bing.BingSitesuche"/>
    <mapping class="edu.hm.cs.smc.channels.facebook.models.FBComment"/>
    <mapping class="edu.hm.cs.smc.channels.facebook.models.FBPage"/>
    <mapping class="edu.hm.cs.smc.channels.facebook.models.FBPost"/>
    <mapping class="edu.hm.cs.smc.channels.twitter.TwitterUser"/>
    <mapping class="edu.hm.cs.smc.channels.twitter.TwitterStatus"/>
    <mapping class="edu.hm.cs.smc.channels.twitter.TwitterHashtag"/>
    <mapping class="edu.hm.cs.smc.channels.twitter.TwitterUrl"/>
    <mapping class="edu.hm.cs.smc.channels.twitter.TwitterMedia"/>
    </session-factory>
</hibernate-configuration>
